.formateurs-page {
  background-image: url("/assets/images/istockphoto-1486040155-640x640.jpg");
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
  background-position: center; /* Centre l'image */
}
.formateurs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.formateur-card {
  display: flex; /* Permet d'aligner la photo et les infos horizontalement */
  align-items: center; /* Centre verticalement la photo et les infos */
  background: linear-gradient(to left, #3e9ccf, #a4d5ee); /* Dégradé clair #9de0fa */;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 600px; /* Ajuste la largeur de la carte */
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 1rem;
}

.formateur-card:hover {
  transform: translateY(-8px);
}

.photo {
  width: 200px; /* Ajuste la largeur de la photo */
  height: 200px; /* Ajuste la hauteur de la photo */
  object-fit: cover;
  border-radius: 8px; /* Ajoute des coins arrondis à la photo */
  margin-right: 1rem; /* Ajoute un espace entre la photo et les infos */
}

.infos {
  flex: 1; /* Permet aux infos de prendre tout l'espace restant */
}

.infos h2 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: #2c3e50;
  font-weight: bold;
}

.infos p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #34495e;
}