<header>
  <h1>Centre de Formation</h1>
  <p>Informatique et Langues Étrangères</p>
</header>
  <nav>
    <ul>
      <li><a routerLink="accueil" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="formation" routerLinkActive="active" >Formations</a></li>
      <li><a routerLink="services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="propos" routerLinkActive="active">À propos</a></li>
      <li class="search-container"><input type="text" placeholder="Recherchez"/><button>rechercher
          <i class="fa fa-search"></i>
        </button></li>
    </ul>
  </nav>
<router-outlet></router-outlet>