<div class="courses-container">
    <div class="course">
        <h1>Developement Web Front-End</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>HTML, CSS, JavaScript, Tailwind CSS, Angular, React.js</p>
        <div class="duration">
            <strong>Durée :</strong><span>3 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong><span>Aucune expérience préalable requise, mais une connaissance de base en informatique est un plus.</span>
        </div>
    </div>
     <div class="course">
        <h1>Developement Web Back-End</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Node.js, Express.js</p>
        <div class="duration">
            <strong>Durée :</strong><span>1 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en JavaScript et en programmation générale.</span>
        </div>
     </div>
     <div class="course">
        <h1>Developement Web Back-End</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>JAVA, Spring,Spring Boot</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance intermédiaire de Java et notions en architecture logicielle.</span>
        </div>
     </div>
     <div class="course">
        <h1>Developement Web Back-End</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Python,Django</p>
        <div class="duration">
            <strong>Durée :</strong><span>1 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Notions de base en Python.</span>
        </div>
     </div>
     <div class="course">
        <h1>Developement Web Back-End</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>PHP, Laravel</p>
        <div class="duration">
            <strong>Durée :</strong><span>1 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance de PHP et des bases de données.</span>
        </div>
     </div>
     <div class="course">
        <h1>Developement Full-Stack</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>MERN Stack, MEAN Stack , LAMP Stack</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en front-end et back-end (HTML, CSS, JavaScript, bases de données).</span>
        </div>
     </div>
     <div class="course">
        <h1>Site Web Dynamique</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>WordPress, CMS</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 semaine</span>
        </div>
        <div class="duration">
            <strong>Prérequis :</strong>
            <span>Aucune expérience préalable requise.</span>
        </div>
     </div>
     <div class="course">
        <h1>Developement d'APIs</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>RESTful,API REST,GrapheQL</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en back-end et maîtrise de JavaScript ou Python.</span>
        </div>

     </div>
     <div class="course">
        <h1>Déploiment des Sites Web</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>CI/CD , Docker, Kubernetes</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 semaine</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en développement web et gestion de serveurs.</span>
        </div>
     </div>
     <div class="course">
        <h1>Déploiment des Sites Web</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Création et gestion PWA,Mise en place Service Workers,Optimisation des performances web,Sécurisation des applications web
,Tests et déploiement PWA,Gestion des notifications push </p>
        <div class="duration">
            <strong>Durée :</strong><span>2 semaine</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en développement web, JavaScript et services web.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement d'applications Android</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Java,Kotlin,Gradle</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 semaine</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en programmation Java ou Kotlin.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement d'applications iOS</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Swift, UIKit,Core Data,CloudKit</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en programmation avec Swift et en développement d'applications mobiles.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement Mobile cross-platform</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Dart,Flutter</p>
        <div class="duration">
            <strong>Durée :</strong><span>2mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en programmation (idéalement en JavaScript ou Dart).</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement Mobile cross-platform</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>JavaScript/TypeScript, React Native</p>
        <div class="duration">
            <strong>Durée :</strong><span>2mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances de base en JavaScript et React.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement Web Hybride</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Ionic avec (Angular,React Vue.js), Capacitor</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances en développement web, notamment avec Angular, React ou Vue.js.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement d'applications mobiles jeux
        </h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Unity Engine,C#,Blender,Xcode / Android Studio </p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en programmation C# et en développement de jeux vidéo.</span>
        </div>
     </div>
     <div class="course">
        <h1>Tests et débogage mobile</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Appium, Firebase, TestFlight</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en développement mobile et tests d'applications mobiles.</span>
        </div>
     </div>
     <div class="course">
        <h1>Développement d'applications mobiles</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>C#,XAML,Xamarin,NuGet,Azure Mobile Apps</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances en C# et en développement d'applications mobiles avec Xamarin.</span>
        </div>
     </div>
     <div class="course">
        <h1>Intégration de paiements</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Stripe,PayPal,Razorpay</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en développement web et intégration API.</span>
        </div>
     </div>
     <div class="course">
        <h1>Introduction à la Data Science</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Les bases de la programmation en Python</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
        <strong>Prérequis:</strong>
    <span>Aucune expérience préalable nécessaire, mais une compréhension de base des mathématiques serait utile.</span>
</div>
     </div>
     <div class="course">
        <h1>Analyse et visualisation des données</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Pandas,Matplotlib,Seaborn</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance de base en Python, mathématiques statistiques, manipulation de données</span>
        </div>
     </div>
     <div class="course">
        <h1>Machine Learning</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>scikit-learn</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Python, Statistiques de base, Algèbre linéaire</span>
        </div>
     </div>
     <div class="course">
        <h1>Deep Learning</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>TensorFlow,PyTorch</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Machine Learning, Python, Mathématiques avancées (calcul matriciel et optimisation)</span>
        </div>
     </div>
     <div class="course">
        <h1>Exploration des bases de données</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>SQL,MYSQL,PostgreSQL</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Notions de base en informatique et logique, SQL de base</span>
        </div>
     </div>
     <div class="course">
        <h1>Analyse des Big Data</h1>
        <strong>compétence que vous gagnerez :</strong>
        <p>Apache Spark,SQL</p>
        <div class="duration">
            <strong>Durée :</strong><span>6 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>SQL avancé, concepts de Big Data, expérience en Python ou Java</span>
        </div>
     </div>
     <div class="course">
        <h1>Création de Tableaux de Bord</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Tableau, Power BI</p>
        <div class="duration">
            <strong>Durée :</strong><span>4 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances de base en analyse de données, outils bureautiques (Excel)</span>
        </div>
    </div>
    <div class="course">
        <h1>Introduction aux algorithmes d'IA et de traitement du langage naturel (NLP)</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Concepts d'IA, Algorithmes NLP, Text Mining, Chatbots</p>
        <div class="duration">
            <strong>Durée :</strong><span>3 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en programmation (Python), logiques de programmation, linguistique de base</span>
        </div>
    </div>
    <div class="course">
        <h1>Analyse prédictive avec Excel avancé et Python</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Excel avancé, Python pour l'analyse prédictive, Statistiques appliquées, Modélisation des données</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance de base en Python, Statistiques de base, Excel</span>
        </div>
    </div>
    <div class="course">
        <h1>Déploiement de modèles IA dans des applications web</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Flask, FastAPI, Déploiement de modèles IA, Création d'API pour l'IA</p>
        <div class="duration">
            <strong>Durée :</strong><span>3 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Python, Web développement (HTML, CSS, JavaScript), Frameworks Python (Flask, FastAPI)</span>
        </div>
    </div>
    <div class="course">
        <h1>Introduction à la cybersécurité et bonnes pratiques</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Concepts de cybersécurité, gestion des risques, bonnes pratiques</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance de base en informatique et réseaux</span>
        </div>
    </div>
    <div class="course">
        <h1>Analyse des vulnérabilités avec des outils</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Nmap, Burp Suite, Nessus</p>
        <div class="duration">
            <strong>Durée :</strong><span>1 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance des réseaux, systèmes d'exploitation, cybersécurité de base</span>
        </div>
    </div>
    <div class="course">
        <h1>Sécurisation des applications web avec OWASP</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Principes OWASP, sécurisation des failles courantes, bonnes pratiques</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en développement web et en sécurité informatique</span>
        </div>
    </div>
    <div class="course">
        <h1>Formation à l'éthique hacker : CEH</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Techniques d'éthique hacker, tests d'intrusion, sécurité avancée</p>
        <div class="duration">
            <strong>Durée :</strong><span>3 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en réseaux, systèmes d'exploitation, développement sécurisé</span>
        </div>
    </div>
    <div class="course">
        <h1>Protection des réseaux</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Firewalls, VPN, IDS/IPS</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances de base en réseaux et sécurité</span>
        </div>
    </div>
    <div class="course">
        <h1>Sécurisation des API et bases de données</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Sécurisation des appels API, protection des bases de données</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances de base en sécurité des applications web et bases de données</span>
        </div>
    </div>
    <div class="course">
        <h1>Développement sécurisé (Secure Coding Practices)</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Principes de codage sécurisé, prévention des failles</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissance en développement web et des bonnes pratiques en sécurité</span>
        </div>
    </div>
    <div class="course">
        <h1>Cryptographie et gestion des certificats SSL/TLS</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Concepts de cryptographie, gestion des certificats</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Notions de base en sécurité informatique</span>
        </div>
    </div>
    <div class="course">
        <h1>Formation sur les attaques : Phishing, DDoS, et attaques XSS</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Détection et prévention des attaques, analyse de cas pratiques</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissance des attaques courantes et des réseaux</span>
        </div>
    </div>
    <div class="course">
        <h1>Tests d’intrusion avec Metasploit Framework</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Tests d'intrusion avancés, exploitation des vulnérabilités</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
            <span>Connaissances en réseaux, systèmes d'exploitation, et sécurité des applications</span>
        </div>
    </div>
    <div class="course">
        <h1>Forensics (analyse post-intrusion et récupération de données)</h1>
        <strong>Compétences que vous gagnerez :</strong>
        <p>Analyse post-intrusion, récupération de données sensibles</p>
        <div class="duration">
            <strong>Durée :</strong><span>2 mois</span>
        </div>
        <div class="duration">
            <strong>Prérequis:</strong>
    <span>Connaissances de base en cybersécurité, systèmes d'exploitation, et analyse de données</span>
        </div>
    </div>
</div>