<form action="http://localhost:8080/formation" method="POST" enctype="multipart/form-data">
    <label for="durre">Durée :</label>
    <input type="number" id="durre" name="durre" required><br><br>
  
    <label for="nomFormation">Nom de la Formation :</label>
    <input type="text" id="nomFormation" name="nomFormation" required><br><br>
  
    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea><br><br>
  
    <label for="domaine">Domaine :</label>
    <input type="text" id="domaine" name="domaine" required><br><br>
  
    <label for="objectif">Objectif :</label>
    <textarea id="objectif" name="objectif" required></textarea><br><br>
  
    <label for="prerequis">Prérequis :</label>
    <textarea id="prerequis" name="prerequis" required></textarea><br><br>
  
    <label for="session">Session :</label>
    <input type="number" id="session" name="session" required><br><br>
  
    <label for="niveau">Niveau :</label>
    <input type="text" id="niveau" name="niveau" required><br><br>
  
    <label for="datededebut">Date de début :</label>
    <input type="date" id="datededebut" name="datededebut" required><br><br>
  
    <label for="datedefin">Date de fin :</label>
    <input type="date" id="datedefin" name="datedefin" required><br><br>
  
    <label for="photo">Photo :</label>
    <input type="file" id="photo" name="photo" accept="image/*" required><br><br>
  
    <div class="button-group">
        <button type="submit">Ajouter Formation</button>
        <button type="reset" class="clear-btn">Effacer</button>
    </div>
</form>
  
